body {
    font-family: sans-serif;
    margin: 0;
    background-color: #101114;
    padding-bottom: 50px;
    
}

header {
    background-image:url(/imagens/headerHollow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    height: 550px;
    padding-top: 1px;
    border-radius: 10px;

}


h1 {
    text-align: center;
    color: snow;
    font-size: 60px;
    padding-top: 200px;
    font-style:unset;
    text-shadow: 2px 2px 2px black;

}

.descricao {
    background-color: rgba( 0, 0, 0, .5);
    width: 30%;
    margin: auto;
    padding: 15px;
    color: snow;
    text-align: center;
    border-bottom: solid snow 2px;

}


nav {
    background-color: #323336;
    float: left;
    height: 250px;
    width: 300px;
    padding: 100px 15px;
    border-radius: 20px;
    margin: 25px 10px 25px 30px;
    margin-left: 100px;
    position: sticky;
    top: 20px;            
    left: 10px;
    
} 


.nav-itens {
    list-style-type: circle;
    font-size: 20px;
    line-height: 1.5;
    padding-left: 40px;
    list-style-position: inside;
}

.nav-titulo {
    list-style: none;
    font-size: 30px;
    color: #db3333;
    position: absolute;
    top: 30px;
    left: 30px;
    font-weight: bolder;
}

.nav-subtitulo {
    font-size: 25px;
    color: #e3e3e3;
    margin-bottom: 1px;
    list-style-type:disc;
    margin-left: -20px;
    
}

.nav-itens li::marker {
    color: #db3333; 
}

.link-nav {
    color: #717273;
    text-decoration: none;
    
}

.link-nav:hover {
    text-decoration: solid;
    color: rgba(0,0,0, .5);
}

.corpo {
    width: 60%;
    margin: auto;
    margin-left: 450px;
}

.conteudo {
    background-color: #727274;
    margin-top: 40px;
    border-radius: 40px;
    display: flex;

    flex-direction: column; 
    align-items: center; 
    padding-top: 20px; 
}

img {
    height: 350px;
    width: 90%; 
    max-width: none; 
    min-width: none;
    border-radius: 10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    
}

.link-conteudo {
    background-color: #101114;
    border: snow solid 3px;
    border-radius: 30px;
    color: white;
    padding: 15px;
    text-decoration: none;
    


}

.link-conteudo:hover {
    background-color: #323336;
    font-weight: bold;

}

h2 {
    text-shadow: 2px 2px 2px black;
    color: snow;
    padding: 10px 100px;
    text-align: center;
}

.link-rede {
    color: rgba(0,0,0, .7);
    text-decoration: none;


}

.link-rede:hover{
    color: rgba(0,0,0, .5);

}

p {
    color: #e3e3e3;
    padding: 10px 60px 40px;
    margin: 10px;
    line-height: 1.5;
    text-align: center;

    
}

.resumo {
    padding: 15px;
    margin: 10px;
    margin-top: 50px;
    

}